[submodule "SafeILGenerator"]
	path = SafeILGenerator
	url = git://github.com/soywiz/SafeILGenerator.git
[submodule "csharputils"]
	path = csharputils
	url = git://github.com/soywiz/csharputils.git
[submodule "ffmpeg.net"]
	path = ffmpeg.net
	url = git://github.com/soywiz/ffmpeg.net.git
