
/CSPspEmu/bin
/CSPspEmu/obj
/CSPspEmu.Core/bin
/CSPspEmu.Core/obj
/CSPspEmu.Core.Tests/bin
/CSPspEmu.Core.Tests/obj
/TestResults
*.suo
*.testsettings
*.vsmdi
/CSPspEmu.Sandbox/bin
/CSPspEmu.Sandbox/obj
/CSPspEmu.Core.Gpu/obj
/CSPspEmu.Core.Gpu/bin
/CSPspEmu.Core.Cpu/bin
/CSPspEmu.Core.Cpu/obj
/Docs
/CSPspEmu.Hle.Modules/obj
/CSPspEmu.Hle.Modules/bin
/CSPspEmu.Hle/bin
/CSPspEmu.Hle/obj
/CSPspEmu.Gui.Winforms/obj
/CSPspEmu.Gui.Winforms/bin
*.pidb
*.vsp
*.userprefs
*.dump
/CSPspEmu.Tests/obj
/CSPspEmu.Tests/bin
/CSPspEmu.Core.Gpu.Impl.Opengl/obj
/CSPspEmu.Core.Gpu.Impl.Opengl/bin
/CSPspEmu.AutoTests/obj
/CSPspEmu.AutoTests/bin
/CSPspEmu.TestsAuto/bin
/CSPspEmu.TestsAuto/obj
/CSPspEmu.Core.Audio.Impl.Openal/obj
/CSPspEmu.Core.Audio.Impl.Openal/bin
/games
/CSPspEmu.Runner/obj
/CSPspEmu.Runner/bin
/opentk
/PSP
/OpenTK.Compatibility.dll
/OpenTK.Compatibility.dll.config
/OpenTK.dll
*.pdb
*.dll
*.config
*.exe
*.pbp
*.lastoutput
*.lastoutput.*.png
*.lastdebug
*.elf
*.prx
/ms
/TestInput/EBOOT.BIN
/pspsdk
/_pspautotests_svn
/flash0
/flash1
*.iso
*.dmp
/CSPspEmu.Resources/bin
/CSPspEmu.Resources/obj
/CSPspEmu.Core.Audio.Impl.WaveOut/bin
/CSPspEmu.Core.Audio.Impl.WaveOut/obj
/CSPspEmu.Debugger/obj
/CSPspEmu.Debugger/bin
/CSPspEmu.Core.Audio/bin
/CSPspEmu.Core.Audio/obj
/CSPspEmu.Media/bin
/CSPspEmu.Media/obj