[submodule "Libraries/CSharpUtils"]
	path = Libraries/CSharpUtils
	url = https://github.com/soywiz/csharputils.git
[submodule "Libraries/SafeILGenerator"]
	path = Libraries/SafeILGenerator
	url = https://github.com/soywiz/SafeILGenerator.git
[submodule "pspautotests"]
	path = pspautotests
	url = https://github.com/hrydgard/pspautotests.git
[submodule "Libraries/csharpplatform"]
	path = Libraries/csharpplatform
	url = https://github.com/soywiz/csharpplatform.git
[submodule "Libraries/cscodec"]
	path = Libraries/cscodec
	url = https://github.com/soywiz/cscodec.git
