
/CSPspEmu/bin
/CSPspEmu/obj
/CSPspEmu.Core/bin
/CSPspEmu.Core/obj
/CSPspEmu.Core.Tests/bin
/CSPspEmu.Core.Tests/obj
/TestResults
*.suo
*.testsettings
*.vsmdi
/CSPspEmu.Sandbox/bin
/CSPspEmu.Sandbox/obj
/CSPspEmu.Core.Gpu/obj
/CSPspEmu.Core.Gpu/bin
/CSPspEmu.Core.Cpu/bin
/CSPspEmu.Core.Cpu/obj
/Docs
/CSPspEmu.Hle.Modules/obj
/CSPspEmu.Hle.Modules/bin
/CSPspEmu.Hle/bin
/CSPspEmu.Hle/obj
/CSPspEmu.Gui.Winforms/obj
/CSPspEmu.Gui.Winforms/bin
*.pidb
*.vsp
*.userprefs
*.dump
/CSPspEmu.Tests/obj
/CSPspEmu.Tests/bin
/CSPspEmu.Core.Gpu.Impl.Opengl/obj
/CSPspEmu.Core.Gpu.Impl.Opengl/bin
/CSPspEmu.AutoTests/obj
/CSPspEmu.AutoTests/bin
/CSPspEmu.TestsAuto/bin
/CSPspEmu.TestsAuto/obj
/CSPspEmu.Core.Audio.Imple.Openal/obj
/CSPspEmu.Core.Audio.Imple.Openal/bin
/games
/CSPspEmu.Runner/obj
/CSPspEmu.Runner/bin
/opentk