
/CSPspEmu/bin
/CSPspEmu/obj
/CSPspEmu.Core/bin
/CSPspEmu.Core/obj
/CSPspEmu.Core.Tests/bin
/CSPspEmu.Core.Tests/obj
/TestResults
*.suo
*.testsettings
*.vsmdi
/CSPspEmu.Sandbox/bin
/CSPspEmu.Sandbox/obj
/CSPspEmu.Core.Gpu/obj
/CSPspEmu.Core.Gpu/bin
/CSPspEmu.Core.Cpu/bin
/CSPspEmu.Core.Cpu/obj