{% extends "Base.html" %}

{% block Body %}
	<div>
		<ul>
			<li>Executed Count: <strong>{{ Count }}</strong></li>
			<li>REQUEST_METHOD: {{ Params.REQUEST_METHOD }}</li>
		</ul>
	</div>

	{{ Posts.Count }}

	<form action="/" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<th>Title:</th>
				<td><input type="textbox" name="Title" value="{{ POST.Title }}" style="width:640px;" /></td>
			</tr>
			<tr>
				<th>Body:</th>
				<td><textarea name="Body" style="width:640px;height:80px;">{{ POST.Body }}</textarea></td>
			</tr>
			<tr>
				<th>File:</th>
				<td><input type="file" name="File" /></td>
			</tr>
		</table>
		<input type="submit" />
	</form>
	{% for Post in Posts %}
		<div>
			<div class="title">{{ Post.Title }}</div>
			<div class="body">{{ Post.Body }}</div>
		</div>
	{% endfor %}
{% endblock %}