
/CSharpUtils/CSharpUtils/obj
/CSharpUtils/CSharpUtils/bin
/CSharpUtils/CSharpUtilsTests/bin
/CSharpUtils/CSharpUtilsTests/obj
/CSharpUtils/CSharpUtils.Net/bin
/CSharpUtils/CSharpUtils.Net/obj
/CSharpUtils/CSharpUtils.Process/bin
/CSharpUtils/CSharpUtils.Process/obj
/CSharpUtils/CSharpUtils.Templates/bin
/CSharpUtils/CSharpUtils.Templates/obj
/CSharpUtils/CSharpUtils.Vfs/obj
/CSharpUtils/CSharpUtils.Vfs/bin
/CSharpUtils/CSharpUtils.Vfs.Dokan/bin
/CSharpUtils/CSharpUtils.Vfs.Dokan/obj
/CSharpUtils/CSharpUtils.Vfs.Net/bin
/CSharpUtils/CSharpUtils.Vfs.Net/obj
/CSharpUtils/CSharpUtils.Vfs.Synchronizer/bin
/CSharpUtils/CSharpUtils.Vfs.Synchronizer/obj
/CSharpUtils/CSharpUtils.Web/obj
/CSharpUtils/CSharpUtils.Web/bin
/CSharpUtils/CSharpUtilsDokanMount/bin
/CSharpUtils/CSharpUtilsTemplateTest/bin
/CSharpUtils/CSharpUtilsDokanMount/obj
/CSharpUtils/CSharpUtilsFastcgiTest/obj
/CSharpUtils/CSharpUtilsTemplateTest/obj
/CSharpUtils/CSharpUtils.Drawing/obj
/CSharpUtils/CSharpUtils.Drawing/bin
/CSharpUtils/CSharpUtils.Forms/obj
/CSharpUtils/CSharpUtils.Forms/bin
/CSharpUtils/CSharpUtilsFastcgiTest/bin
/CSharpUtils/CSharpUtils.Ext/obj
/CSharpUtils/CSharpUtils.Ext/bin
/CSharpUtils/CSharpUtils.45.WebAsync/bin
/CSharpUtils/CSharpUtils.45.WebAsync/obj
/CSharpUtils/CSharpUtils.45.Tests/obj
/CSharpUtils/CSharpUtils.45.Tests/bin
/CSharpUtils/CSharpUtils.45.Sandbox/obj
/CSharpUtils/CSharpUtils.45.Sandbox/bin
/CSharpUtils/CSharpUtils.45.Redis/obj
/CSharpUtils/CSharpUtils.45.Redis/bin
/CSharpUtils/CSharpUtils.45.MongoAsync/obj
/CSharpUtils/CSharpUtils.45.MongoAsync/bin
/CSharpUtils/NVorbis/bin
/CSharpUtils/NVorbis/obj
/CSharpUtils/CSharpUtils.45.MysqlAsync/obj
/CSharpUtils/CSharpUtils.45.MysqlAsync/bin
/CSharpUtils/CSharpUtils.Sandbox/obj
/CSharpUtils/CSharpUtils.Sandbox/bin
/CSharpUtils/Bson/bin
/CSharpUtils/Bson/obj
/CSharpUtils/_ReSharper.CSharpUtils
/CSharpUtils/Tests.CSharpUtils.Drawing/bin
/CSharpUtils/Tests.CSharpUtils.Drawing/obj
/CSharpUtils/Tests.CSharpUtils.Ext/obj
/CSharpUtils/Tests.CSharpUtils.Ext/bin
/CSharpUtils/Tests.CSharpUtils.Net/obj
/CSharpUtils/Tests.CSharpUtils.Net/bin
/CSharpUtils/Tests.CSharpUtils.Process/obj
/CSharpUtils/Tests.CSharpUtils.Process/bin
/CSharpUtils/Tests.CSharpUtils.Templates/bin
/CSharpUtils/Tests.CSharpUtils.Templates/obj
/CSharpUtils/Tests.CSharpUtils.Vfs/bin
/CSharpUtils/Tests.CSharpUtils.Vfs/obj
/CSharpUtils/Tests.CSharpUtils.Vfs.Net/bin
/CSharpUtils/Tests.CSharpUtils.Vfs.Net/obj
/CSharpUtils/Tests.CSharpUtils.Vfs.Synchronizer/obj
/CSharpUtils/Tests.CSharpUtils.Vfs.Synchronizer/bin
/CSharpUtils/Tests.CSharpUtils.Web/obj
/CSharpUtils/Tests.CSharpUtils.Web/bin

/.DS_Store
